<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>0</TotalTime><Application>LibreOffice/6.2.3.2$Windows_X86_64 LibreOffice_project/aecc05fe267cc68dde00352a451aa867b3b546ac</Application><Pages>1</Pages><Words>2</Words><Characters>46</Characters><CharactersWithSpaces>46</CharactersWithSpaces><Paragraphs>2</Paragraphs></Properties>